# MongoDB
MONGODB_URI=mongodb+srv://easDatabase:oDqCMD5pRdMBLImo@eas.sg9meiv.mongodb.net/

# JWT
JWT_SECRET=votre_super_secret_jwt_qui_doit_etre_tres_long_et_complexe_123!

# Stripe (pour les paiements par carte)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Email SMTP (Gmail exemple)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre-email@gmail.com
SMTP_PASS=votre-mot-de-passe-app
SMTP_FROM="BussnessApp" <votre-email@gmail.com>

# Backoffice URL
BACKOFFICE_URL=http://localhost:5173

# Backend Public URL (production)
BACKEND_PUBLIC_URL=https://businessapp.installpostiz.com/bussnessapp

# Backoffice Security
BACKOFFICE_ACCESS_KEY=votre_code_acces_portal_secret
BACKOFFICE_INIT_SECRET=votre_secret_initialisation_superadmin
